snippet td "Todo: 未完成"
* [ ] ${1}
endsnippet

snippet tdx "Todo: 已完成"
* [x] ${1}
endsnippet


snippet wr "周报"
# 本周周报

---

## 本周工作

### 一、${1}

---

## 下周安排

### 一、${2}

endsnippet


# vim:set noet sts=-1 sw=4 ts=4:
